<div class="top-bar">
  <figure class="logo">
    <%= logo %>
  </figure>

  <div class="top-bar__search">
    <%= render 'spree/shared/search/search_bar', taxons: taxons, taxon: taxon %>
  </div>
</div>
