.product-card {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 10px;
  padding: 10px;

  &_image {
    transition: transform 0.2s;
    height: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;

    img {
      width: 260px;
      height: auto;
    }
  }

  &_header {
    text-align: center;
    position: relative;
    margin: 2rem 0;

    h2 {
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }
  }

  &_price {
    color: $color-accent;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    text-align: center;
  }

  &:hover &_image {
    transform: scale(1.05);
  }
}
